@model GobMxDummy.Models.FormularioModels

@{
    ViewBag.Title = "Formulario";
}
@using (Html.BeginForm("Insert", "Home"))
{

<div class="row">
    <h1>Crear Usuario</h1>
    <hr class="red">
    @Html.ValidationSummary(true)
    <div class="col-md-12">
        <form role="form" class="clearfix">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nombre(s)<span class="form-text">*</span>:</label>
                        @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", @placeholder = "Ingrese su nombre" })
                        @Html.ValidationMessageFor(m => m.Nombres)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstName">Primer apellido<span class="form-text">*</span>:</label>
                        @Html.TextBoxFor(m => m.ApellidoPat, new { @class = "form-control", @placeholder = "Ingrese su primer apellido" })
                        @Html.ValidationMessageFor(m => m.ApellidoPat)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="secondName">Segundo apellido<span class="form-text">*</span>:</label>
                        @Html.TextBoxFor(m => m.ApellidoMat, new { @class = "form-control", @placeholder = "Ingrese su segundo apellido" })
                        @Html.ValidationMessageFor(m => m.ApellidoMat)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group clearfix">
                        <div class="form-control-lada">
                            <label for="lada">Lada<span class="form-text">*</span>:</label>
                            @Html.TextBoxFor(m => m.Lada, new { @class = "form-control", @placeholder = "Lada" })
                            @Html.ValidationMessageFor(m => m.Lada)
                        </div>
                        <div class="form-control-phone">
                            <label for="phone">Teléfono fijo<span class="form-text">*</span>:</label>
                            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @placeholder = "Teléfono fijo", type ="number" })
                            @Html.ValidationMessageFor(m => m.Telefono)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for"mail"="">Correo electrónico<span class="form-text">*</span>:</label>
                        @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @placeholder = "ejemplo@dominio.com" , type = "mail"})
                        @Html.ValidationMessageFor(m => m.CorreoElectronico)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sexo<span class="form-text">*</span>:</label>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.Sexo, "M") Hombre
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.Sexo, "F") Mujer
                            </label>
                            @Html.ValidationMessageFor(m => m.Sexo)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nacionalidad<span class="form-text">*</span>:</label>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.Nacionalidad, "M") Mexicano
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.Nacionalidad, "E") Extranjero
                            </label>
                            @Html.ValidationMessageFor(m => m.Nacionalidad)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Estado civil<span class="form-text">*</span>:</label>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.EstadoCivil, "Soltero") Soltero
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.EstadoCivil, "Casado") Casado
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.EstadoCivil, "Unión Libre") Unión libre
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.EstadoCivil, "Divorciado") Divorciado
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.EstadoCivil, "Viudo") Viudo
                            </label>
                        </div>
                        @Html.ValidationMessageFor(m => m.EstadoCivil)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo de vivienda<span class="form-text">*</span>:</label>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.TipoVivienda, "Propia") Propia
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.TipoVivienda, "Alquilada") Alquilada
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.TipoVivienda, "Hipotecada") Hipotecada
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.TipoVivienda, "De un familiar") De un familiar
                            </label>
                        </div>
                        <div>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.TipoVivienda, "Otros") Otros
                            </label>
                        </div>
                        @Html.ValidationMessageFor(m => m.TipoVivienda)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group datepicker-group ">
                        <label class="control-label" for="calendario">Fecha de nacimiento<span class="form-text">*</span>:</label>
                        @Html.TextBoxFor(m => m.FecNac, new { @class = "form-control datepicker", @placeholder = "Fecha de nacimiento" })
                        @*<input type="text" class="form-control datepicker" id="calendar1" placeholder="">*@
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        @Html.ValidationMessageFor(m => m.FecNac)
                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Acepto los términos
                </label>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <hr>
                </div>
            </div>

            <div class="clearfix">
                <div class="pull-left text-muted text-vertical-align-button">
                    * Campos obligatorios
                </div>

                <div class="pull-right">
                    <button class="btn btn-default" type="submit">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
            <hr>
        </form>
        @*          Modal       *@
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
            <div class="modal-dialog" role="document" style="margin-top: 181.5px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ejemplo de ventana modal de confirmación</h4>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur libero id gravida volutpat. Nunc mauris lorem, sodales eu suscipit id, fermentum vitae neque.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        @*          Modal       *@
    </div>
</div>
    @*<script src="https://code.jquery.com/jquery-1.9.0.js" integrity="sha256-TXsBwvYEO87oOjPQ9ifcb7wn3IrrW91dhj6EMEtRLvM=" crossorigin="anonymous"></script>*@

    <script src="~/Scripts/jquery-2.2.0.js">
        $(document).ready(function () {
            //jQuery('#FecNac').delay(800).datepicker('setDate', new Date());

            $("#FecNac").datepicker("destroy");
            $("#FecNac").val('');
            $("#FecNac").datepicker({
                dateFormat: 'dd-mm-yy',
                setDate: new Date()
            }); // For current date

        });
    </script>
}